# 1th_hometask

–í—Å–µ–º –ø—Ä–∏–≤–µ—Ç!

–ú–µ–Ω—è –≤—ã —É–∂–µ –∑–Ω–∞–µ—Ç–µ, —è –≤–∞—à –ø—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—å, –ê—Ä—Ç—É—Ä –°–∞–ø—Ä—ã–∫–∏–Ω üôÇ 

–ù–∞–ø–æ–º–Ω—é —Ç–æ, –æ —á—ë–º –≥–æ–≤–æ—Ä–∏–ª–∏ –ø—Ä–æ –¥–æ–º–∞—à–∫–∏:
1. –î–æ–º–∞—à–∫–∏ –∑–∞–¥–∞—é –ø–æ—Å–ª–µ –∫–∞–∂–¥–æ–≥–æ –∑–∞–Ω—è—Ç–∏—è
2. –°–¥–∞–≤–∞—Ç—å –∏—Ö –Ω—É–∂–Ω–æ –¥–æ –Ω–∞—á–∞–ª–∞ –∑–∞–Ω—è—Ç–∏—è –≤—Ç–æ—Ä–Ω–∏–∫–∞ —Å–ª–µ–¥—É—é—â–µ–π –Ω–µ–¥–µ–ª–∏. –¢–æ –µ—Å—Ç—å, –µ—Å–ª–∏ –¥–∑ –∑–∞–¥–∞–Ω–æ –≤–æ –≤—Ç–æ—Ä–Ω–∏–∫ –∏ —á–µ—Ç–≤–µ—Ä–≥ –Ω–∞ –æ–¥–Ω–æ–π –Ω–µ–¥–µ–ª–µ, —Ç–æ –Ω–∞ —Å–ª–µ–¥—É—é—â–µ–π, –ø–µ—Ä–µ–¥ –Ω–æ–≤—ã–º –±–ª–æ–∫–æ–º, –Ω—É–∂–Ω–æ –≤—Å—ë —Å–¥–∞—Ç—å.
3. –ï—Å–ª–∏ –Ω–µ —É—Å–ø–µ–ª–∏ —Å–¥–∞—Ç—å –¥–æ–º–∞—à–∫—É, —Ç–æ –ø—Ä–æ–≤–µ—Ä—è—Ç—å –µ—ë –Ω–µ –±—É–¥—É. –ù–û –≤—ã –≤—Å–µ–≥–¥–∞ –º–æ–∂–µ—Ç–µ –¥–ª—è —Å–µ–±—è –µ—ë —Å–¥–µ–ª–∞—Ç—å üòâ
4. –ò –æ—á–µ–Ω—å –≤–∞–∂–Ω–æ–µ - –Ω–µ–ª—å–∑—è –≤—ã–∫–ª–∞–¥—ã–≤–∞—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–∞–±–æ—Ç—ã –≤ —á–∞—Ç –∏ –æ–±–º–µ–Ω–∏–≤–∞—Ç—å—Å—è —Ä–µ—à–µ–Ω–∏—è–º–∏ —Å –¥—Ä—É–≥–∏–º–∏ —É—á–∞—Å—Ç–Ω–∏–∫–∞–º–∏ –¥–æ –Ω–∞—á–∞–ª–∞ —Å–ª–µ–¥—É—é—â–µ–≥–æ –º–æ–¥—É–ª—è!


–≠—Ç–æ –≤–∞—à–∞ –ø–µ—Ä–≤–∞—è –¥–æ–º–∞—à–∫–∞.

–í–∞–º –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö, –∞–Ω–∞–ª–æ–≥–∏—á–Ω—É—é –Ω–∞ –∑–∞–Ω—è—Ç–∏–∏. 

–†–∞—Å–ø–∏—Å—ã–≤–∞–π—Ç–µ –≤ Markdown –≤–∞—à–∏ —à–∞–≥–∏, –∏ –ø–æ—á–µ–º—É –≤—ã –≤–∑—è–ª–∏ –º–µ–¥–∏–Ω—É –≤–º–µ—Å—Ç–æ —Å—Ä–µ–¥–Ω–µ–≥–æ, –Ω–∞–ø—Ä–∏–º–µ—Ä.

–≠—Ç–æ –ø–æ–∫–∞–∂–µ—Ç —Ç–æ, –∫–∞–∫ –≤—ã —Ä–∞—Å—Å—É–∂–¥–∞–µ—Ç–µ.

–î–æ–º–∞—à–∫–∞ –ø—Ä–æ—Å—Ç–∞—è. –î–µ–ª–∞—Ç—å –Ω–µ–º–Ω–æ–≥–æ.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –º–æ–∂–µ—Ç–µ —Å–ª–∞—Ç—å –≤ –ª–∏—á–∫—É –∏–ª–∏ —Å—Å—ã–ª–∫–∏ –Ω–∞ –≥–∏—Ç—Ö–∞–±.

–í—Å–µ–º —É—Å–ø–µ—Ö–æ–≤!

### Import Section

In [1]:
import numpy as np
import pandas as pd

### Function "Reduce Memory Usage"

In [2]:
def reduce_memory_usage(df):
    
    # –°–î–ï–õ–ê–¢–¨ –ü–†–û–í–ï–†–ö–£ type(df) == pd.DataFrame
    
    initial_memory_usage = df.memory_usage().sum() / 1024 / 1024
    print(f'Initial memory usage of dataframe:\t{initial_memory_usage:.3} Mb')
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != 'object':
            c_min = df[col].min()
            c_max = df[col].max()
            
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            
            # –ú–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Å–¥–µ–ª–∞—Ç—å –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏—é –≤–ø–ª–æ—Ç—å –¥–æ —Ç–∏–ø–∞ "float16", –æ–¥–Ω–∞–∫–æ –¥–∞–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö,
            # –∫–∞–∫ —Å–æ–æ–±—â–∞–µ—Ç—Å—è –æ—Ç —Å–æ–æ–±—â–µ—Å—Ç–≤–∞ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö, –ø–ª–æ—Ö–æ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è –Ω–µ–∫–æ—Ç–æ—Ä—ã–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞–º–∏
            
            if str(col_type)[:5] == 'float':
                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                elif c_min > np.finfo(np.float64).min and c_max < np.finfo(np.float64).max:
                    df[col] = df[col].astype(np.float64)
        
        else:
            df[col] = df[col].astype('category')
    
    final_memory_usage = df.memory_usage().sum() / 1024 / 1024
    print(f'Final memory usage of dataframe:\t{final_memory_usage:.3} Mb')
    
    comparison = np.round(100 * (initial_memory_usage - final_memory_usage) / initial_memory_usage, 3)
    print(f'Memory usage has been decreased by:\t{comparison} %')
    
    return df

### Path Section

In [197]:
PATH_DATA = r'data.csv'
PATH_DATA_PREPROCESSED = r'data_preprocessed.csv'

## Exploratory Data Analysis

In [4]:
df_data = pd.read_csv(PATH_DATA)

In [5]:
df_data.head(6)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [6]:
df_data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

##### Age: —Å–æ–¥–µ—Ä–∂–∏—Ç –≤—ã–±—Ä–æ—Å—ã/–æ—à–∏–±–∫–∏. –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç 10, –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π - 97, —á—Ç–æ –º–∞–ª–æ–≤–µ—Ä–æ—è—Ç–Ω–æ.
##### Height: —Å–æ–¥–µ—Ä–∂–∏—Ç –≤—ã–±—Ä–æ—Å—ã/–æ—à–∏–±–∫–∏. –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π —Ä–æ—Å—Ç 127, —á—Ç–æ –º–∞–ª–æ–≤–µ—Ä–æ—è—Ç–Ω–æ.
##### Weight: —Å–æ–¥–µ—Ä–∂–∏—Ç –≤—ã–±—Ä–æ—Å—ã/–æ—à–∏–±–∫–∏. –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–µ—Å 25, —á—Ç–æ –º–∞–ª–æ–≤–µ—Ä–æ—è—Ç–Ω–æ.
##### Year: –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ —Ä–∞—Å—Å–º–æ—Ç—Ä–µ—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ä–∞–π–æ–Ω–µ 1-–≤—ã–π –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª–∏, –≤–æ–∑–º–æ–∂–Ω—ã –æ—à–∏–±–∫–∏.

In [7]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [39]:
df_null = pd.DataFrame(df_data.isna().sum(), columns=['Nulls'])
df_null = df_null[df_null['Nulls'] > 0]
df_null['Total'] = df_data.shape[0]
df_null['Percentage'] = df_null['Nulls'] / df_null['Total'] * 100
df_null

         Nulls   Total  Percentage
Age       9474  271116    3.494445
Height   60171  271116   22.193821
Weight   62875  271116   23.191180
Medal   231333  271116   85.326207

##### –ò–∑–Ω–∞—á–∞–ª—å–Ω—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –±–æ–ª–µ–µ 22%, —Å—Ä–µ–¥–∏ –≤–∞–∂–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ Height –∏ Weight. –î–∞–Ω–Ω—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–µ –º–æ–≥—É—Ç –±—ã—Ç—å –∏—Å–∫–ª—é—á–µ–Ω—ã –∏–∑ –Ω–∞–±–æ—Ä–∞ –≤–≤–∏–¥—É –∏—Ö —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–π –¥–æ–ª–∏ –∏ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –æ–±—Ä–∞–±–æ—Ç—ã.

##### –¢–∞–∫–∂–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –Ω–µ–∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –ø—Ä–∏–∑–Ω–∞–∫–∞ Age, –æ–∫–æ–ª–æ 3,5% –∑–∞–ø–∏—Å–µ–π. –î–∞–Ω–Ω—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏ –º–æ–≥—É—Ç –∫–∞–∫ –æ–±—Ä–∞–±–æ—Ç–∞–Ω—ã, —Ç–∞–∫ –∏ –∏—Å–∫–ª—é—á–µ–Ω—ã –∏–∑ –Ω–∞–±–æ—Ä–∞.

##### –ü—Ä–∏–∑–Ω–∞–∫ Medal —è–≤–ª—è–µ—Ç—Å—è —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π. –ü—Ä–∏–º–µ–º –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–µ, —á—Ç–æ –æ—Ç—Å—É—Å—Ç–≤–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –º–µ–¥–∞–ª–µ - –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –ø—Ä–∏–∑–æ–≤–æ–≥–æ –º–µ—Å—Ç–∞.

### ID –∏ Name
##### –ò–∑–Ω–∞—á–∞–ª—å–Ω–æ –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–ª–æ—Å—å –∏–∑–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø—Ä–∏–∑–Ω–∞–∫ "ID" –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∏–Ω–¥–µ–∫—Å–∞, –æ–¥–Ω–∞–∫–æ –¥–∞–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫ –Ω–µ —è–≤–ª—è–µ—Ç—Å—è —É–Ω–∏–∫–∞–ª—å–Ω—ã–º.

In [158]:
df_id_counts = pd.DataFrame(df_data['ID'].value_counts())
df_id_counts[df_id_counts['ID'] > 1].head()

        ID
77710   58
106296  39
115354  38
119591  36
129196  32

##### –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø–æ–¥—Ä–æ–±–Ω–µ–µ –∑–∞–ø–∏—Å–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ id.

In [9]:
non_unique_ids = df_id_counts[df_id_counts['ID'] > 1].index
non_unique_ids

Int64Index([ 77710, 106296, 115354, 119591, 129196,  44875,  53240, 119590,
             89187, 106156,
            ...
             32127, 111077,  32338, 111186, 117178, 117011,  42204,  31547,
             32349,  32093],
           dtype='int64', length=57670)

In [10]:
df_data[df_data['ID'] == non_unique_ids[0]].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
154798,77710,Robert Tait McKenzie,M,44.0,NaN,NaN,Canada,CAN,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Sculpturing,NaN
154799,77710,Robert Tait McKenzie,M,60.0,NaN,NaN,Canada,CAN,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN
154800,77710,Robert Tait McKenzie,M,60.0,NaN,NaN,Canada,CAN,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN
154801,77710,Robert Tait McKenzie,M,60.0,NaN,NaN,Canada,CAN,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN
154802,77710,Robert Tait McKenzie,M,60.0,NaN,NaN,Canada,CAN,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN

In [11]:
df_data[df_data['ID'] == non_unique_ids[1]].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
211668,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Individual All-Around,NaN
211669,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Team All-Around,NaN
211670,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Horse Vault,NaN
211671,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Parallel Bars,NaN
211672,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Horizontal Bar,NaN

##### –û—á–µ–≤–∏–¥–Ω–æ, —á—Ç–æ –ø—Ä–∏–∑–Ω–∞–∫ ID —è–≤–ª—è–µ—Ç—Å—è —É–Ω–∏–∫–∞–ª—å–Ω—ã–º –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–º –∫–∞–∂–¥–æ–≥–æ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞. –¢–µ–æ—Ä–µ—Ç–∏—á–µ—Å–∫–∏, –º–æ–∂–µ—Ç –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å —Å–∏—Ç—É–∞—Ü–∏—è, –∫–æ–≥–¥–∞ –ø—Ä–∏–∑–Ω–∞–∫ ID –ø–æ–∑–≤–æ–ª–∏—Ç –æ–¥–Ω–æ–∑–Ω–∞—á–Ω–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –∏–º–µ–Ω–∞–º–∏, –ø–æ–ª–æ–º –∏ –¥—Ä—É–≥–∏–º–∏ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞–º–∏.

##### –î–∞–ª—å–Ω–µ–π—à–∞—è –∑–∞–¥–∞—á–∞ –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏—è —Ä–∞–∑–±–∏–≤–∞–µ—Ç—Å—è –Ω–∞ –¥–≤–µ –ø–æ–¥–∑–∞–¥–∞—á–∏:

##### 1. –ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ (–ö–æ–≥–¥–∞ –∏–º—è —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ –æ–∫–∞–∑—ã–≤–∞–µ—Ç –≤–ª–∏—è–Ω–∏–µ –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –Ω–∞–ø—Ä–∏–º–µ—Ä –æ–ø—ã—Ç –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ –∏–ª–∏ —Ç—Ä–∞–≤–º–∞). –í —Ç–∞–∫–æ–º —Å–ª—É—á–∞–µ –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–µ–Ω —É–Ω–∏–∫–∞–ª—å–Ω—ã–π ID –∫–∞–∂–¥–æ–≥–æ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞ –∏ –ø—Ä–∏–∑–Ω–∞–∫–∏, –æ–ø–∏—Å—ã–≤–∞—é—â–∏–µ —É—Å–ª–æ–≤–∏—è (–≤–∏–¥ —Å–ø–æ—Ä—Ç–∞, –≤–∏–¥ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è, —Å–æ–±—ã—Ç–∏–µ), –≤ –∫–æ—Ç–æ—Ä—ã—Ö –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–π —Å–ø–æ—Ä—Ç—Å–º–µ–Ω –≤—ã—Å—Ç—É–ø–∞–µ—Ç.

##### 2. –ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ –∏—Å—Ö–æ–¥—è –∏–∑ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤. –í —Ç–∞–∫–æ–º —Å–ª—É—á–∞–µ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –∞–Ω–æ–Ω–∏–º–Ω–æ, –±–µ–∑ –≤–ª–∏—è–Ω–∏—è –∏—Ö ID –∏ Name –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç. –í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –±—É–¥—É—Ç –≤–∞–∂–Ω—ã –∏ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤ (—Ä–æ—Å—Ç, –≤–µ—Å, –ø–æ–ª, –ø—Ä–æ–∏—Å—Ö–æ–∂–¥–µ–Ω–∏–µ) –∏ —É—Å–ª–æ–≤–∏—è (–≤–∏–¥ —Å–ø–æ—Ä—Ç–∞, –≤–∏–¥ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è, —Å–æ–±—ã—Ç–∏–µ).

##### –î–∞–ª–µ–µ –±—É–¥–µ–º —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –ø–æ–¥–∑–∞–¥–∞—á—É 2, —Ç–∞–∫ –∫–∞–∫ –ø–æ–¥–∑–∞–¥–∞—á–∞ 1 –ø–ª–æ—Ö–æ –≤–ø–∏—Å—ã–≤–∞–µ—Ç—Å—è –≤ –æ–±–ª–∞—Å—Ç—å ML (–ø—Ä–∏–≤—è–∑–∫–∞ –∫ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–º —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞–º).

##### p.s. –°–æ–≥–ª–∞—Å–Ω–æ –ø—Ä–∞–≤–∏–ª–∞–º —Ä–µ–ª—è—Ü–∏–æ–Ω–Ω—ã—Ö –æ—Ç–Ω–æ—à–µ–Ω–∏–π (SQL, DDL) –¥–∞–Ω–Ω—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ä–∞–∑–±–∏—Ç—å –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ç–∞–±–ª–∏—Ü –≤ —Ü–µ–ª—è—Ö –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏.

### ID –∏ Name –≤—ã–≤–æ–¥:
##### –ü—Ä–∏–∑–Ω–∞–∫–∏ ID –∏ Name –Ω–µ –ø—Ä–∏–Ω–µ—Å—É—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –≤–∞–∂–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –¥–ª—è –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏—è –≤ —Å–ª—É—á–∞–µ, –∫–æ–≥–¥–∞ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤.

### Sex

##### –ë–∏–Ω–∞—Ä–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫, –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–µ—Ä–µ–∫–æ–¥–∏—Ä–æ–≤–∞–Ω.

### Age, Height, Weight

##### –î–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç –ø—Ä–æ–ø—É—Å–∫–∏, –∞ —Ç–∞–∫–∂–µ –æ–Ω–∏ –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã –¥–ª—è –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏—è —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π Medal.

##### –ü—Ä–∏–∑–Ω–∞–∫–∏ Height –∏ Weight –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –≤ –ò–Ω–¥–µ–∫—Å –ú–∞—Å—Å—ã –¢–µ–ª–∞, –Ω–æ –≤ —Ç–∞–∫–æ–º —Å–ª—É—á–∞–µ –≤–æ–∑–º–æ–∂–Ω–∞ –ø–æ—Ç–µ—Ä—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏.

##### –ö–∞–∫ –≤—ã—è—Å–Ω–∏–ª–æ—Å—å —Ä–∞–Ω–µ–µ, –ø—Ä–∏–∑–Ω–∞–∫ ID —è–≤–ª—è–µ—Ç—Å—è —É–Ω–∏–∫–∞–ª—å–Ω—ã–º –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–º —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤. –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª—É—á–µ–Ω–∞ –∏–∑ –¥—Ä—É–≥–∏—Ö –∑–∞–ø–∏—Å–µ–π —Å –∏–¥–µ–Ω—Ç–∏—á–Ω—ã–º ID.

In [157]:
df_nulls = df_data[['ID', 'Age', 'Height', 'Weight']]
df_id_counts = pd.DataFrame(df_nulls['ID'].value_counts()).reset_index().rename({'ID': 'ID_counts'}, axis=1).rename({'index': 'ID'}, axis=1)
df_nulls = df_nulls.merge(df_id_counts, how='left', on='ID')

df_age_counts = pd.DataFrame(df_nulls['ID'][df_nulls['Age'].isna()].value_counts()).reset_index().rename({'ID': 'Age_null_counts'}, axis=1).rename({'index': 'ID'}, axis=1)
df_nulls = df_nulls.merge(df_age_counts, how='left', on='ID')

df_height_counts = pd.DataFrame(df_nulls['ID'][df_nulls['Height'].isna()].value_counts()).reset_index().rename({'ID': 'Height_null_counts'}, axis=1).rename({'index': 'ID'}, axis=1)
df_nulls = df_nulls.merge(df_height_counts, how='left', on='ID')

df_weight_counts = pd.DataFrame(df_nulls['ID'][df_nulls['Weight'].isna()].value_counts()).reset_index().rename({'ID': 'Weight_null_counts'}, axis=1).rename({'index': 'ID'}, axis=1)
df_nulls = df_nulls.merge(df_weight_counts, how='left', on='ID')

df_nulls = df_nulls.drop_duplicates()
df_nulls[(df_nulls['ID_counts'] > df_nulls['Age_null_counts']) | (df_nulls['ID_counts'] > df_nulls['Height_null_counts']) | (df_nulls['ID_counts'] > df_nulls['Weight_null_counts'])].head()

Empty DataFrame
Columns: [ID, Age, Height, Weight, ID_counts, Age_null_counts, Height_null_counts, Weight_null_counts]
Index: []

### Age, Height, Weight –≤—ã–≤–æ–¥:

##### –ù–µ –æ–±–Ω–∞—Ä—É–∂–∏–ª–æ—Å—å –Ω–∏ –æ–¥–Ω–æ–π –∑–∞–ø–∏—Å–∏, –≥–¥–µ –ø—Ä–æ–ø—É—Å–∫–∏ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –∑–∞–ø–æ–ª–Ω–∏—Ç—å –∏–∑ –¥—Ä—É–≥–æ–π –∑–∞–ø–∏—Å–∏ —Å –∏–¥–µ–Ω—Ç–∏—á–Ω—ã–º ID. –≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–∞—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –ø–æ–ª–Ω–æ—Å—Ç—å—é –∏ –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω–∞.

##### –ë–∏–æ–ª–æ–≥–∏—á–µ—Å–∫–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Å—Ç—Ä–µ–º—è—Ç—Å—è –∫ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–º—É —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—é, –æ–¥–Ω–∞–∫–æ –≤ —Å–ª—É—á–∞–µ –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –±–æ–ª—å—à–æ–π –≤—ã–±–æ—Ä–∫–∏ –∏–∑ –≥–µ–Ω–µ—Ä–∞–ª—å–Ω–æ–π —Å–æ–≤–æ–∫—É–ø–Ω–æ—Å—Ç–∏, –º–æ–∂–µ—Ç –Ω–∞–±–ª—é–¥–∞—Ç—å—Å—è –¥–∏—Å–±–∞–ª–∞–Ω—Å. –ß—Ç–æ–±—ã –∏–∑–±–µ–∂–∞—Ç—å –≤–ª–∏—è–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤ –∏ –¥–∏—Å–±–∞–ª–∞–Ω—Å–∞ –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ–¥–∏–∞–Ω—É –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤.

##### –¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –ø—Ä–∏–º–µ–Ω–∏—Ç—å –æ–±—Ä–∞–±–æ—Ç–∫—É —Å —Ä–∞–∑–±–∏–µ–Ω–∏–µ–º –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º. –ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤ –∏–∑ –ö–∞–Ω–∞–¥—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ–¥–∏–∞–Ω—É —Ç–æ–ª—å–∫–æ –∫–∞–Ω–∞–¥—Å–∫–∏—Ö —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤.

##### –¢–∞–∫–∂–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–∞ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –∞–Ω–æ–º–∞–ª–∏–π.

### Team –∏ NOC

##### –î–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –∏–¥–µ–Ω—Ç–∏—á–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é, —Ç–∞–∫ –∫–∞–∫ –≤ Team –∑–∞–ø–∏—Å–∞–Ω–∞ —Å—Ç—Ä–∞–Ω–∞, –∞ –≤ NOC - National Occupational Classification, —á—Ç–æ –æ—Ç—Ä–∞–∂–∞–µ—Ç —Ç–æ–∂–µ —Å–∞–º–æ–µ.

##### –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –º–æ–∂–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω –ø—Ä–∏–∑–Ω–∞–∫. –ü—É—Å—Ç—å —ç—Ç–æ –±—É–¥–µ—Ç NOC –∫–∞–∫ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã–π –º–µ–∂–¥—É–Ω–∞—Ä–æ–¥–Ω—ã–π –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä.

### Games, Year, Season

##### –î–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Ç–∞–∫–∂–µ –∫–æ–ø–∏—Ä—É—é—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –¥—Ä—É–≥ –¥—Ä—É–≥–∞. –í–≤–∏–¥—É —Ç–æ–≥–æ, —á—Ç–æ —É–¥–æ–±–Ω–µ–µ —Ä–∞–±–æ—Ç–∞—Ç—å —Å Year –∏ Season –æ—Ç–¥–µ–ª—å–Ω–æ, –æ—Ç –ø—Ä–∏–∑–Ω–∞–∫–∞ Games –º–æ–∂–Ω–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è. –ü—Ä–∏–∑–Ω–∞–∫ Season –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–µ—Ä–µ–≤–µ–¥—ë–Ω –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π.

##### –ü—Ä–∏–∑–Ω–∞–∫ Year —Å–æ–¥–µ—Ä–∂–∏—Ç –∑–Ω–∞—á–µ–Ω–∏—è < 1900, —á—Ç–æ –º–æ–∂–µ—Ç —Å–≤–∏–¥–µ—Ç–µ–ª—å—Å—Ç–≤–æ–≤–∞—Ç—å –æ–± –æ—à–∏–±–∫–µ. –û–¥–Ω–∞–∫–æ —É—Å—Ç–∞–Ω–æ–≤–∏—Ç—å —Ñ–∞–∫—Ç –æ—à–∏–±–∫–∏ –Ω–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–∑–º–æ–∂–Ω—ã–º.

### City, Event

##### –¢–µ–æ—Ä–µ—Ç–∏—á–µ—Å–∫–∏, –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –º–æ–≥—É—Ç –æ–∫–∞–∑—ã–≤–∞—Ç—å –≤–ª–∏—è–Ω–∏–µ –Ω–∞ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é, –æ–¥–Ω–∞–∫–æ –≤ —Å–ª—É—á–∞–µ —á–µ—Å—Ç–Ω—ã—Ö —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏–π –∏ –æ–±—ä–µ–∫—Ç–∏–≤–Ω–æ–≥–æ –Ω–µ–ø—Ä–µ–¥–≤–∑—è—Ç–æ–≥–æ —Å—É–¥–µ–π—Å—Ç–≤–∞ –≤—Å–µ —É—Å–ª–æ–≤–∏—è –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å —Ä–∞–≤–Ω—ã –¥–ª—è —Å–ø–æ—Ä—Ç—Å–º–µ–Ω–æ–≤, –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ –æ—Ç –º–µ—Å—Ç–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è —Å–æ–±—ã—Ç–∏—è –∏ —Å–∞–º–æ–≥–æ —Å–æ–±—ã—Ç–∏—è. –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –º–æ–≥—É—Ç –±—ã—Ç—å —É–¥–∞–ª–µ–Ω—ã –≤ –¥–∞–Ω–Ω—ã–π –º–æ–º–µ–Ω—Ç, –Ω–æ –∏–º–µ—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ —É—Å–æ–≤–µ—Ä—à–µ–Ω—Å—Ç–≤–æ–≤–∞–Ω–∏—è –º–æ–¥–µ–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º.

### Sport

##### –û—á–µ–≤–∏–¥–Ω–æ, —á—Ç–æ –¥–∞–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫ –¥–æ–ª–∂–µ–Ω –æ–∫–∞–∑—ã–≤–∞—Ç—å –≤–ª–∏—è–Ω–∏–µ –Ω–∞ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é. –ù–∞–ø—Ä–∏–º–µ—Ä –≤ —Å–ª—É—á–∞–µ, –∫–æ–≥–¥–∞ –æ–¥–∏–Ω —Å–ø–æ—Ä—Ç—Å–º–µ–Ω —É—á–∞—Å—Ç–≤—É–µ—Ç –≤ —Ä–∞–∑–Ω—ã—Ö –≤–∏–¥–∞—Ö —Å–ø–æ—Ä—Ç–∞ –∏ –∏–º–µ–µ—Ç —Ä–∞–∑–Ω—ã–µ –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ –∏ –Ω–µ–¥–æ—Å—Ç–∞—Ç–∫–∏ –≤ —Ä–∞–∑–Ω—ã—Ö –≤–∏–¥–∞—Ö —Å–ø–æ—Ä—Ç–∞. –î–∞–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–µ—Ä–µ–≤–µ–¥—ë–Ω –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π.

### Medal

##### –¶–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è. –î–æ–ª–∂–Ω–∞ –±—ã—Ç—å –ø–µ—Ä–µ–≤–µ–¥–µ–Ω–∞ –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø, —Ç–∞–∫ –∫–∞–∫ –Ω–µ–ª—å–∑—è –æ–¥–Ω–æ–∑–Ω–∞—á–Ω–æ —Å–∫–∞–∑–∞—Ç—å, –∫–∞–∫–æ–µ —á–∏—Å–ª–æ–≤–æ–µ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –±—É–¥—É—Ç –∏–º–µ—Ç—å –∑–æ–ª–æ—Ç—ã–µ, —Å–µ—Ä–µ–±—Ä—è–Ω–Ω—ã–µ –∏ –±—Ä–æ–Ω–∑–æ–≤—ã–µ –º–µ–¥–∞–ª–∏.

## Data Preprocessing

##### –ò—Å—á–∫–ª—é—Å–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –æ–±—Ä–∞–±–æ—Ç–∫–∞ –∞–Ω–æ–º–∞–ª–∏–π (–∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø–µ—Ä—Ç–µ–Ω—Ç–∏–ª—è–º–∏).

In [193]:
df_data_preprocessed = df_data.copy()

df_data_preprocessed = df_data_preprocessed.drop(columns=['ID', 'Name', 'Team', 'Games', 'City', 'Event'])

df_data_preprocessed['Sex_M'] = False
df_data_preprocessed['Sex_M'][df_data_preprocessed['Sex'] == 'M'] = True
df_data_preprocessed = df_data_preprocessed.drop(columns=['Sex'])

df_data_preprocessed['Medal_Gold'] = False
df_data_preprocessed['Medal_Silver'] = False
df_data_preprocessed['Medal_Bronze'] = False
df_data_preprocessed['Medal_Gold'][df_data_preprocessed['Medal'] == 'Gold'] = True
df_data_preprocessed['Medal_Silver'][df_data_preprocessed['Medal'] == 'Silver'] = True
df_data_preprocessed['Medal_Bronze'][df_data_preprocessed['Medal'] == 'Bronze'] = True
df_data_preprocessed = df_data_preprocessed.drop(columns=['Medal'])


df_data_preprocessed['Age'] = df_data_preprocessed['Age'].fillna(value=df_data_preprocessed['Age'].median())
df_data_preprocessed['Age'][df_data_preprocessed['Age'] > df_data_preprocessed['Age'].quantile(q=0.999)] = df_data_preprocessed['Age'].quantile(q=0.999)

df_data_preprocessed['Height'] = df_data_preprocessed['Height'].fillna(value=df_data_preprocessed['Height'].median())

df_data_preprocessed['Weight'] = df_data_preprocessed['Weight'].fillna(value=df_data_preprocessed['Weight'].median())
df_data_preprocessed['Weight'][df_data_preprocessed['Weight'] > df_data_preprocessed['Weight'].quantile(q=0.95)] = df_data_preprocessed['Weight'].quantile(q=0.95)

df_data_preprocessed.head()

C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Sex_M'][df_data_preprocessed['Sex'] == 'M'] = True
C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Medal_Gold'][df_data_preprocessed['Medal'] == 'Gold'] = True
C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Medal_Silver'][df_data_preprocessed['Medal'] == 'Silver'] = True
C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Medal_Bronze'][df_data_preprocessed['Medal'] == 'Bronze'] = True
C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Age'][df_data_preprocessed['Age'] > df_data_preprocessed['Age'].quantile(q=0.999)] = df_data_preprocessed['Age'].quantile(q=0.999)
C:\Users\SERGEY~1\AppData\Local\Temp/ipykernel_5724/381600026.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_preprocessed['Weight'][df_data_preprocessed['Weight'] > df_data_preprocessed['Weight'].quantile(q=0.95)] = df_data_preprocessed['Weight'].quantile(q=0.95)

,Age,Height,Weight,NOC,Year,Season,Sport,Sex_M,Medal_Gold,Medal_Silver,Medal_Bronze
0,24.0,180.0,80.0,CHN,1992,Summer,Basketball,True,False,False,False
1,23.0,170.0,60.0,CHN,2012,Summer,Judo,True,False,False,False
2,24.0,175.0,70.0,DEN,1920,Summer,Football,True,False,False,False
3,34.0,175.0,70.0,DEN,1900,Summer,Tug-Of-War,True,True,False,False
4,21.0,185.0,82.0,NED,1988,Winter,Speed Skating,False,False,False,False

In [194]:
df_data_preprocessed.describe()

                 Age        Height         Weight           Year
count  271116.000000  271116.00000  271116.000000  271116.000000
mean       25.497171     175.26374      70.028493    1978.378480
std         6.250141       9.27917      11.094528      29.877632
min        10.000000     127.00000      25.000000    1896.000000
25%        22.000000     170.00000      63.000000    1960.000000
50%        24.000000     175.00000      70.000000    1988.000000
75%        28.000000     180.00000      75.000000    2002.000000
max        65.000000     226.00000      93.000000    2016.000000

In [196]:
df_data_preprocessed = reduce_memory_usage(df_data_preprocessed)

Initial memory usage of dataframe:	15.5 Mb
Final memory usage of dataframe:	5.7 Mb
Memory usage has been decreased by:	63.254 %

In [198]:
df_data_preprocessed.to_csv(PATH_DATA_PREPROCESSED)